<div class="panel-heading">
    <h2 style="text-align: center">
        <span class="label label-default label-center">{{title}}</span>
    </h2>
</div>
<div class="panel-body">
    <div class="list-group">
        <div class="list-group-item list-group-item-demo">
            <div class="form-group">
                <input [(ngModel)]="user.first_name" placeholder="FirstName" class="form-control" />
                <!-- <input [value]="user.first_name" (input)="user.first_name = $event.target.value" placeholder="FirstName" class="form-control"> -->

                <input [(ngModel)]="user.last_name" placeholder="LastName" class="form-control" />

                <input [(ngModel)]="user.user_email" type="email" placeholder="Email" class="form-control" (blur)="emailTyped= true" />

                <div *ngIf="emailTyped">
                    <input [(ngModel)]="user.user_email" type="email" placeholder="Confirm Email" class="form-control" />
                </div>
                <input [(ngModel)]="user.user_password" type="password" placeholder="Password" class="form-control" (blur)="passwordTyped= true"
                />

                <div *ngIf="passwordTyped">
                    <input [(ngModel)]="user.user_password" type="password" placeholder="Confirm Password" class="form-control" />
                </div>

                <input [(ngModel)]="user.gender" type="gender" placeholder="Gender" class="form-control" />

                <p style="text-align: left">Enter your Date of Birth</p>
                <input [(ngModel)]="user.date_of_birth" type="date" placeholder="Date Of Birth" class="form-control" />

            </div>
            <div>
                <button class="btn btn-primary btn-center" (click)="registerUser()">Register</button>
            </div>
            <div>
                {{ message.text }}
            </div>
        </div>