<h2 style="text-align: center">Register</h2>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="firstname" aria-describedby="firstnameHelp" placeholder="FirstName">
    <small id="firstnameHelp" class="form-text text-muted"></small>
  </div>

  <br>

  <div class="form-group">
    <label for="exampleInputEmail1">Last Name</label>
    <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="LastName">
    <small id="lastnameHelp" class="form-text text-muted"></small>
  </div>

  <br>

  <div class="form-group">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>

  <br>

  <div class="form-group">
    <label for="exampleInputEmail2">Email Address</label>
    <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Confirm Email">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>

  <br>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Confirm Password">
  </div>

  <br>

  <div class="form-group">
    <label for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
  </div>

  <br>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" placeholder="Enter Current Age">
  </div>

  <br>

  <button type="submit" class="btn btn-outline-secondary">Register</button>
</form>