
<app-navbar *ngIf="!exists"></app-navbar>
<div class="jumbotron">
    <img src="{{user.profile_image}}"/>
    <b>Name</b>: {{user.first_name}} {{user.last_name}}
    <br><br>
    <b>Gender</b>: {{user.gender}}
    <br><br>
    <b>Birthday</b>: {{user.date_of_birth}}<br><br>
    <b>Email</b>: {{user.user_email}}<br><br>
    <b>Bio</b>: {{user.biography}}</div>
<app-modify-user-info></app-modify-user-info>
<div class="jumbotron"><ul *ngFor="let post of posts">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{post.date}} {{post.user.first_name}} {{post.user.last_name}}</h3>
      </div>
      <div class="panel-body">
        <img src={{post.image}}/> {{post.message}} 
        <br>{{post.numOfLikes}}
      </div>
    </div>
  </ul></div>
