
  <div class="container">      
    <h1><span><img src="../assets/images/RaftPackGo.png" id="raftpacklogo"> </span>Edit Profile</h1>
    <hr>
  <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
  
          <input #profilepic type="file" class="form-control" id="pic">
        </div>
      </div>
  
  
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
  
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" #firstname type="text" id="fname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" #lastname type="text" id="lname">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">User Email:</label>
            <div class="col-lg-8">
              <input class="form-control" #useremail type="text" id="ename">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-lg-3 control-label">Pack:</label>
            <div class="col-lg-8">
              <input class="form-control" #pack type="text" id="pnum">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Gender:</label>
            <div class="col-lg-8">
              <input class="form-control" #gender type="text" id="pnum">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-md-3 control-label">Biography:</label>
            <div class="col-md-8">
              <input class="form-control" #biography type="textarea" id="bio">
              <!-- <textarea name="Text1" cols="40" rows="5"></textarea> -->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input (click)="getUserFormData(profilepic.value,firstname.value,lastname.value,
              pack.value,useremail.value,pack.value,biography.value)" type="button"
              class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
  </div>