.form-horizontal{
    width: 45%;
    align-content: center;
}

.form-control{
   align-content: center;
}

.form-control{
   align-content: center;
}
#fname{
    position: center;
    left : 90px;
    width: 400px;

}

#lname{
    position: center;
    left : 90px;
    width: 400px;

}

#compname{
    position: center;
    left : 90px;
    width: 400px;

}

#ename{
    position: center;
    left : 90px;
    width: 400px;

}

#uname{
    position: center;
    left : 90px;
    width: 400px;

}

#pname{
    position: center;
    left : 90px;
    width: 400px;

}

#cname{
    position: center;
    left : 90px;
    width: 400px;

}

#pnum{
    position: center;
    left : 90px;
    width: 400px;

}

.alert.alert-info.alert-dismissable{
    width:600px;
}

h3{
    position : center;
    right : 110px;

}

.btn.btn-primary{
    position: relative;
    left : 85px;
}

.btn.btn-default{
    position: relative;
    left : 85px;
    width : 140px;
}

.avatar.img-circle{
    height : 200px;
}
