<div class="container form-group">
  <form class="form-signin">
    <h2 class="form-signin-heading">Login</h2>
    <label for="inputEmail" class="sr-only">Email Address</label>
    <input [(ngModel)]="user.user_email" type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="user.user_password" type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <div>
          <a routerLink="register" id="registerLink">Register</a>
          <br>          
        <a routerLink="resetPassword" id="resetPassword">Reset password</a>
      </div>
    </div>
    <button id="loginButton" class = "btn btn-primary btn-center" (click) = "login()" type="submit">Login</button>
  </form>
</div>
